@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "NohemiLight";
  src: url("/Fonts/Nohemi/Nohemi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NohemiExtraLight";
  src: url("/Fonts/Nohemi/Nohemi-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NohemiRegular";
  src: url("/Fonts/Nohemi/Nohemi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NohemiBold";
  src: url("/Fonts/Nohemi/Nohemi-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NohemiExtraBold";
  src: url("/Fonts/Nohemi/Nohemi-ExtraBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SwitzerLight";
  src: url("/Fonts/Switzer/Switzer-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SwitzerRegular";
  src: url("/Fonts/Switzer/Switzer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SwitzerMedium";
  src: url("/Fonts/Switzer/Switzer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SwitzerSemibold";
  src: url("/Fonts/Switzer/Switzer-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SwitzerBold";
  src: url("/Fonts/Switzer/Switzer-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NohemiRegular", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Hide scrollbar for mobile card scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}
